# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# VS Code
.vscode/
*.code-workspace

# MacOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Airflow runtime
logs/
.airflow/
airflow.db

# Data outputs (optional)
data/tmp/
data/intermediate/
*.csv
*.parquet  # keep if you want processed data in repo

# Docker / temp files (optional)
docker-compose.override.yml
*.pid
*.sock